body{
    background-color: rgb(70, 68, 199);
}
h1 {
    text-align: center;
}
#one{
    background-color: rgb(139, 209, 47);
}
#two{
    background-color: rgb(206, 206, 169);
}
#three{
    width: 600px; ;
    height: 400px; ;
}
div {
    text-align: center;
}